<mat-toolbar style="display: flex;">
  <mat-icon style="margin-right: 8px">class</mat-icon>
  <span>Super Form Infini</span>
  <span style="flex: 1 1 auto;"></span>
</mat-toolbar>

<h1>Formulaire qui sert à rien</h1>
<mat-card style="width: 700px; margin: auto; padding: 20px;">
  <form [formGroup]="formGroup">

    <mat-form-field style="width: 100%">
        <mat-label>Nom</mat-label>
        <input matInput type="text" placeholder="Nom et prénom" name="name" formControlName="nom">
        @if(formGroup.get('nom')?.hasError('required')){
        <mat-error> Votre nom est <strong>requis</strong> </mat-error>
      }
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Numéro de rue</mat-label>
      <input matInput type="number" placeholder="5230" name="roadnumber" formControlName="numRue">
      @if(formGroup.get('numRue')?.hasError('min') || formGroup.get('numRue')?.hasError('max') && !formGroup.get('numRue')?.hasError('required')){
        <mat-error> entrez un nombre entre <strong>1000 et 9000</strong> </mat-error>
      }
      @if(formGroup.get('numRue')?.hasError('required')){
        <mat-error> Le numéro de rue est <strong>requis</strong> </mat-error>
      }
      
    </mat-form-field>

    <mat-form-field style="width: 100%">
        <mat-label>Rue</mat-label>
        <input matInput type="text" placeholder="Resther" name="rue">
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Code Postal</mat-label>
      <input matInput type="text" placeholder="H2J8B2" name="postalcode" formControlName="postalcode">
      @if(formGroup.get('postalcode')?.hasError('pattern')){
        <mat-error> pattern incorrect<strong> code postal PLS</strong> </mat-error>
      }
      
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Commentaire</mat-label>
      <textarea matInput placeholder="Votre commentaire" name="comments" formControlName="commentaire"></textarea>
      @if(formGroup.get('commentaire')?.hasError('tooShort') && formGroup.get('commentaire')?.hasError('includesName')){
        <mat-error> comment is too short<strong> AND </strong>it contains the name </mat-error>
      }
      @if(formGroup.get('commentaire')?.hasError('tooShort') && !formGroup.get('commentaire')?.hasError('includesName')){
        <mat-error> comment is too short<strong> </strong> </mat-error>
      }
      @if(!formGroup.get('commentaire')?.hasError('tooShort') && formGroup.get('commentaire')?.hasError('includesName')){
        <mat-error> comment contains the name<strong> </strong> </mat-error>
      }
      
    </mat-form-field>

    <mat-card-actions align="end">
      <button  mat-raised-button color="primary" [disabled]="!formGroup.valid">Acheter</button>
    </mat-card-actions>
  </form>
</mat-card>